fastapi[standard]
uvicorn
pydantic
pytest
sqlalchemy
dotenv
passlib[bcrypt]
pyjwt
ipython-sql
pymysql
notebook
ipykernel
asyncmy
cryptography
bcrypt
pytest-mock
pytest-asyncio
black

# pytest-asyncio
# httpx
